@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar btn */
.navbar_btn {
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 17px 30px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    cursor: pointer;
    transition: 0.3s;
}

.navbar_btn:hover {
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
}

.hero_btn {
    border-radius: 8px;
    padding: 17px 34px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid rgb(13, 19, 33);
    margin-top: 25px;
}

.hero_btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
}

body {
    font-family: Azeret Mono;
}

header {
    max-width: 1440px;
    margin: auto;
}

/* nav section */
nav {
    margin: 20px 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul .logo {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 0%;
    cursor: pointer;
}

/* banner section style here */
.hero_bg {
    background: url(../assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    height: 652px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px dashed lightgray;
    border-top: 2px dashed lightgray;
}

.hero_bg_container {
    width: 998px;
    height: auto;
    text-align: center;
}

.hero_bg_container img {
    width: 150px;
}

.hero_bg_container h1 {
    color: rgb(13, 19, 33);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0%;
    margin: 15px 0;
}

.hero_bg_container p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}