@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar btn */
.navbar_btn {
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 17px 30px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    cursor: pointer;
    transition: 0.3s;
}

.navbar_btn:hover {
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
}

.hero_btn {
    border-radius: 8px;
    padding: 17px 34px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid rgb(13, 19, 33);
    margin-top: 25px;
}

.hero_btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
}

.learn_btn {
    border: 1px solid rgb(13, 19, 33);
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
    transition: 0.3s;
    width: 150px;
}

.learn_btn:hover {
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255)
}

body {
    font-family: Azeret Mono;
}

header,
main {
    max-width: 1440px;
    margin: auto;
}

/* nav section */
nav {
    margin: 30px 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul .logo {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 0%;
    cursor: pointer;
}

/* banner section style here */
.hero_bg {
    background: url(../assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    height: 652px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px dashed lightgray;
    border-top: 2px dashed lightgray;
}

.hero_bg_container {
    width: 998px;
    height: auto;
    text-align: center;
}

.hero_bg_container img {
    width: 150px;
}

.hero_bg_container h1 {
    color: rgb(13, 19, 33);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0%;
    margin: 15px 0;
}

.hero_bg_container p,
.heading_box p,
.box_left p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

.box_left p {
    font-size: 13px;
    line-height: 18px;
}

/* why development section style start here */
#why_development {
    height: 1395px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 62px 0;
    padding: 62px;

}

.heading_box {
    text-align: center;
}

.heading_box h2 {
    color: rgb(13, 19, 33);
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 18px;
}

/* learn main container */
.learn_main_container {
    display: flex;
    justify-content: center;
}

/* learn development container */
.learn_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 50px auto;
}

/* box_1 */
.box_1 {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    width: 1146px;
    height: 336px;
    display: flex;
    padding: 50px;
}

.box_22 {
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.box_1 .box_left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box_1 .box_right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.box_1 .box_right img {
    width: 100%;
}

.box_left h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.box_22 .box_right {
    width: 40%;
    justify-content: flex-start;
}

.box_22 .box_left {
    width: 60%;
}